<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volley.wjh.modelapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.volley.wjh.modelapp.App.MyApplication"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.SwpeRefreshLayoutActivity"/>

        <activity android:name=".UI.RecyclerViewActivity"/>

        <activity android:name=".UI.GridViewWithRecyclerViewActivity"/>

        <activity android:name=".UI.WaterFallViewWithRecyclerViewActivity"/>

        <activity android:name=".wxapi.WXEntryActivity"/>

        <activity android:name=".UI.AddressSelectActivity"/>

        <receiver android:name=".Update.ApkDownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
